*-swp
*.o
weborf
config.h.in
*~
*.pyc
configure
config.h
config.log
config.status
stamp-h1
Makefile.in
.deps
options.h
build-aux
aclocal.m4
autom4te.cache
qweborf/main.py
weborf.kdev4
.kdev4/
Makefile
*.log
*.trs
deb-pkg/
