*-swp
*.o
weborf
config.h.in
*~
*.pyc
configure
config.h
config.log
config.status
stamp-h1
./Makefile
Makefile.in
.deps
options.h
build-aux
aclocal.m4
autom4te.cache
cgi_wrapper/weborf_cgi_wrapper
cgi_wrapper/weborf_py_wrapper
qweborf/main.py
weborf.kdev4
.kdev4/
