#! /usr/bin/make -f
# Weborf
# Copyright (C) 2008  Salvo "LtWorf" Tomaselli
# 
# Weborf is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


DESTDIR =       $(CURDIR)/debian/tmp
DOCS =          $(DESTDIR)/usr/share/doc/weborf


clean:
	$(MAKE) clean
	

binary: binary-indep binary-arch
binary-arch: build
	echo exit
binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	cp weborf $(DESTDIR)/usr/bin	
	cp weborf.daemon $(DESTDIR)/etc/init.d/weborf
	dh_installman weborf.1 weborf.conf.5
	dh_installchangelogs CHANGELOG
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

build: clean
	echo "Making binary"
	$(MAKE)
	echo "Generating control file"
	debscript/gencontrol.sh>debian/control
	dh_testdir
