#!/usr/bin/make -f

SHELL=sh -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_installinit:
	dh_installinit -pweborf-daemon --onlyscripts --init-script=weborf

override_dh_auto_install:
	pyuic4 qweborf/main.ui > qweborf/main.py
	python qweborf.setup.py install --root=$(CURDIR)/debian/qweborf
	dh_auto_install

override_dh_install:
	install -D qweborf/qweborf debian/qweborf/usr/bin/qweborf
	dh_install
