[Install]
WantedBy=multi-user.target

[Unit]
Description=Weborf auth daemon

[Service]
InaccessiblePaths=/var
InaccessiblePaths=-/srv
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
PrivateUsers=true
NoNewPrivileges=true
RestrictAddressFamilies=AF_UNIX
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=weborf_auth
ExecStart=/usr/local/bin/auth.py
RuntimeDirectory=weborf
User=www-data
Group=www-data
