[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=share;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action share]
Name=Share directory via HTTP…
Name[it]=Condividi cartella con HTTP…
Icon=network-wired
Exec=qweborf %f
