[Desktop Entry]
Name=qweborf
GenericName=qweborf
Keywords=http;NAT;network;share
Comment=Shares files using the HTTP protocol
Comment[it]=Condivide file usando il protocollo HTTP
Exec=qweborf %f
Icon=qweborf
Terminal=0
Type=Application
Categories=Network;
MimeType=inode/directory
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
